.blog {
  padding-top: 83px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding-top: 53px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 43px;
  }
}

.blog__heading {
  @include heading-style;
  margin-bottom: 19px;
}

.blog__read-all {
  @include link-style;
  margin-bottom: 60px;

  @media (max-width: $mobile-width) {
    margin-bottom: 49px;
  }
}

.blog__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    display: block;
  }

  @media (max-width: $mobile-width) {
    max-width: 450px;
    margin: 0 auto;
  }
}

.blog__left-column {
  width: 50%;
  margin-right: 30px;

  @media (max-width: $tablet-width) {
    width: auto;
    margin-right: 0;
  }
}

.blog__article {
  display: flex;
  min-height: 300px;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    margin-bottom: 40px;
  }

  &:nth-of-type(even) {
    .blog__img-wrapper {
      order: 2;
    }
  }

  a {
    @include link-style;
  }

  time {
    font-size: 14px;
    line-height: 18px;
    color: $dark-grey;
    display: block;
    margin-bottom: 14px;
  }

  h2 {
    @include offset;
    margin-bottom: 37px;
    font-family: "Cormorant Garamond", "Garamond", serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: $basic-black;
  }
}

.blog__content-wrapper {
  min-width: 285px;
  width: 50%;
  min-height: 300px;
  padding: 20px 56px 23px;
  background: $basic-light;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding: 25px 85px 28px;
    flex-grow: 1;
  }

  @media (max-width: $mobile-width) {
    min-width: auto;
    min-height: 256px;
    width: 100%;
    padding: 25px 60px 28px;
  }
}

.blog__img-wrapper {
  position: relative;
  width: 50%;

  @media (max-width: $tablet-width) {
    max-width: 339px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    width: 100%;
    min-height: 256px;
  }

  img {
    vertical-align: top;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.blog__article--main {
  position: relative;
  width: 50%;

  @media (max-width: $tablet-width) {
    width: auto;
  }

  .blog__img-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: $tablet-width) {
      position: static;
      height: auto;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  img {
    @media (max-width: $tablet-width) {
      position: static;
    }
  }

  .blog__content-wrapper {
    margin-top: auto;
    margin-left: auto;
    padding: 16px 56px 53px;
    z-index: $zindex-blog;

    @media (max-width: $tablet-width) {
      margin-top: 0;
      margin-left: 0;
      padding: 25px 85px 28px;
    }

    @media (max-width: $mobile-width) {
      padding: 25px 60px 28px;
    }
  }
}
