.follow-us {
  padding-top: 50px;
  padding-bottom: 95px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 59px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 44px;
  }

  img {
    display: block;
    margin-bottom: 34px;
    width: 100%;
    height: auto;

    @media (max-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 27px;
    }
  }
}

.follow-us__heading {
  @include heading-style;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.follow-us__link {
  @include link-style;
  margin-bottom: 61px;

  @media (max-width: $mobile-width) {
    margin-bottom: 46px;
  }
}

.follow-us__images {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
  }
}

.follow-us__img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 27px;

  @media (max-width: $tablet-width) {
    margin-right: 16px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    width: calc(50% - 12px);
  }

  &:last-child {
    margin-right: 0;
  }
}

.follow-us__img-wrapper--main {
  @media (max-width: $mobile-width) {
    position: relative;
    overflow: hidden;
    margin-bottom: 27px;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.follow-us__img-wrapper--short {
  @media (max-width: $mobile-width) {
    picture:first-child {
      display: none;
    }
  }
}
