.slider {
  position: relative;
  padding-top: 120px;
  padding-bottom: 82px;
  text-align: center;
  z-index: $zindex-slider;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 52px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 60px;
    padding-bottom: 43px;
  }

  .swiper-button-disabled {
    opacity: 0.5;
    cursor: default;

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      color: $basic-brown;
    }
  }
}

.slider__heading {
  @include heading-style;
  margin-bottom: 24px;
  padding: 0 50px;
  letter-spacing: normal;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.slider__link {
  @include link-style;
  padding: 0;
  margin-bottom: 60px;

  @media (max-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 45px;
  }

  &::after {
    bottom: 0;

    @media (max-width: $tablet-width) {
      bottom: -5px;
    }
  }
}

.slider__wrapper {
  padding: 15px 15px 20px;
  margin: -15px -15px;
}

.slider__pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 26px;
  left: 0;
  right: 0;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    bottom: 6px;
  }

  @media (max-width: $mobile-width) {
    bottom: 12px;
    font-size: 16px;
    letter-spacing: 0.1em;
  }

  .swiper-pagination-bullet {
    padding: 6px;
    color: $dark-grey;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    outline: none;
    position: relative;

    &:hover::after,
    &:focus::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 20px;
      height: 2px;
      background: $basic-dark;
      left: 50%;
      transform: translateX(-50%);
    }

    &:active {
      opacity: 0.5;
    }
  }

  .swiper-pagination-bullet-active {
    color: $basic-dark;
    cursor: default;

    &:hover::after,
    &:focus::after {
      display: none;
    }

    &:active {
      opacity: 1;
    }
  }
}

.slider__button {
  padding: 10px;
  position: absolute;
  top: 152px;
  color: $basic-brown;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;

  @media (max-width: $tablet-width) {
    top: 99px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  @media (min-width: $desktop-width-only) {
    &:hover,
    &:focus {
      color: $basic-white;

      &::before {
        background: $basic-brown;
      }

      .slider__arrow {
        z-index: $zindex-slider;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.slider__arrow {
  position: relative;

  @media (max-width: $tablet-width) {
    width: 36px;
    height: 15px;
  }
}

.slider__button--prev {
  transform: rotate(180deg);
  left: -10px;
}

.slider__button--next {
  right: -10px;

  .slider__arrow {
    top: 1px;

    @media (max-width: $tablet-width) {
      top: 3px;
    }
  }
}

.slider__list {
  @include reset-list;
}

.slider__item {
  height: auto;

  a {
    color: inherit;
    display: block;
    height: 100%;
    outline: none;

    @media (min-width: $desktop-width-only) {
      &:hover,
      &:focus {
        box-shadow: 0 6px 12px rgba($dark-grey, 0.5);
        color: $basic-brown;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  h3 {
    @include offset;
    margin: 21px 0 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    @media (max-width: $mobile-width) {
      margin: 14px 0 7px;
    }
  }

  p {
    @include offset;
    padding-bottom: 15px;
    font-weight: 700;
  }
}

.slider--nojs {
  .slider__list {
    overflow-x: auto;
  }

  .slider__item {
    width: calc(100% / 4 - 90px / 4);

    margin-right: 30px;

    @media (max-width: $tablet-width) {
      width: calc(100% / 2 - 30px / 2);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .slider__button {
    display: none;
  }
}
