.slider {
  position: relative;
  padding-top: 120px;
  padding-bottom: 78px;
  text-align: center;
  z-index: $zindex-slider;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 28px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 60px;
    padding-bottom: 24px;
  }

  h2 {
    @include heading-style;
    margin-bottom: 24px;
    padding: 0 50px;
    letter-spacing: normal;

    @media (max-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  a {
    @include link-style;
    margin-bottom: 60px;

    @media (max-width: $tablet-width) {
      margin-bottom: 53px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 45px;
    }

    &::after {
      bottom: 0;

      @media (max-width: $tablet-width) {
        bottom: -5px;
      }
    }
  }
}

.slider__wrapper {
  padding-bottom: 76px;

  @media (max-width: $tablet-width) {
    padding-bottom: 66px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 51px;
  }
}

.slider__pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: 30px;
    font-size: 16px;
    letter-spacing: 0.1em;
  }

  .swiper-pagination-bullet {
    padding: 6px;
    color: $dark-grey;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    color: $basic-dark;
    cursor: default;
  }
}

.slider__button {
  padding: 10px;
  position: absolute;
  top: 152px;
  color: $basic-brown;
  background: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    top: 99px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.slider__arrow {
  @media (max-width: $tablet-width) {
    width: 36px;
    height: 15px;
  }
}

.slider__button--prev {
  transform: rotate(180deg);
  left: -10px;
}

.slider__button--next {
  right: -10px;
}

.slider__list {
  @include reset-list;
}

.slider__item {
  img {
    vertical-align: top;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  h3 {
    @include offset;
    margin: 21px 0 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    @media (max-width: $mobile-width) {
      margin: 14px 0 7px;
    }
  }

  p {
    @include offset;
    font-weight: 700;
  }
}

.slider--nojs {
  .slider__list {
    overflow-x: auto;
  }

  .slider__item {
    width: calc(100% / 4 - 90px / 4);
    margin-right: 30px;

    @media (max-width: $tablet-width) {
      width: calc(100% / 2 - 30px / 2);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .slider__button {
    display: none;
  }
}
