.subscription {
  h2 {
    @include offset;
    font-family: "Cormorant Garamond", "Garamond", serif;
    text-align: left;
    margin: 3px 0 10px;
    font-size: 32px;
    line-height: 44px;
    color: $basic-white;
    letter-spacing: 0.05em;

    @media (max-width: $mobile-width) {
      margin: 15px 0 13px;
    }
  }

  p {
    @include offset;
    margin-bottom: 31px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $dark-grey;

    @media (max-width: $mobile-width) {
      margin-bottom: 35px;
    }
  }
}

.subscription__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $basic-white;

  input {
    flex-grow: 1;
    font-family: inherit;
    padding: 11px 0;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
  }

  input::placeholder {
    color: $dark-grey;
    opacity: 1;
  }

  &:hover,
  &:focus-within {
    border-bottom: 1px solid $basic-brown;

    input::placeholder {
      color: $basic-brown;
    }
  }

  button {
    min-width: 120px;
    margin-bottom: -1px;
    padding: 10px 0 10px 10px;
    background: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:hover,
    &:focus {
      color: $basic-white;
      background: $basic-brown;
      border-radius: 4px 4px 0 0;
    }

    &:active {
      opacity: 0.5;
    }
  }

  svg {
    margin-left: 12px;
  }
}
