$basic-dark: #1d1613;
$basic-light: #f0eae4;
$basic-brown: #a87b62;
$dark-brown: #564034;
$basic-white: #ffffff;
$basic-black: #000000;
$dark-grey: #9b9997;
$light-grey: #f6f5f4;
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
// $zindex-popup: 100;
$zindex-overlay: 90;
$zindex-menu: 80;
$zindex-slider: 70;
$zindex-blog: 70;
