@import "node_modules/normalize-scss/sass/normalize/import-now";
@import "../libs/swiper.scss";
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/global.scss";
@import "global/container.scss";
@import "blocks/page-header.scss";
@import "blocks/menu.scss";
@import "blocks/slider.scss";
@import "blocks/blog.scss";
@import "blocks/questions.scss";
@import "blocks/page-footer.scss";
@import "blocks/subscription.scss";
@import "blocks/social.scss";
